/** CONTENIDO OTROS**/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.resolution{
    width: 99%;
}
/**MOVIL**/
@media (max-width:775px){
    .desktop{ display: none;}
}

/**COMPU**/
@media (min-width:991px){
    .movil{ display: none;}
}

body{background-color: #ffffff}
h1 {
    font-size: 3.6rem;
    color: #444444;
}
h2 {
    font-size: 3rem;
    color: #444444;
}
h3 {
    font-size: 2rem;
    color: #444444;
}
p {
    font-size: 1.6rem;
    color: #444444;

}
header {
    text-align: center;
}
/**-----------------------------------------------ACA ES VERSION PC---------------------------------------------------*/

/**------------TOOLBAR------------**/
.lineSup1{
    position: absolute;
    left: 46px;
    top:2px;
    height: 25px;
    color:gray;
    opacity: 50%;
}
.lineSup2{
    position: absolute;
    right: 46px;
    top:2px;
    height: 25px;
    color:gray;
    opacity: 50%;
}
#card {
    position: absolute;
    top:10px;
    right: 5px;
    height: 30px;
    width: 150px;
}
.bag {
    position: absolute;
    margin-top:3px;
    right: 13px;
}
.user {
    position: absolute;
    margin-top:3px;
    left: 70px;
}
.lupa {
    position: absolute;
    margin-top: 3px;
    left:13px;
}
.toolbar {
    position: relative;
    top: 0;
    height: 50px;
    width:auto;
    margin-right:-13px;
    border: 0.5px solid #ffffff;
    border-bottom:0.5px solid #3D47A9;
    background-color: #FFFFFF;
    color: #3D47A9;
    font-weight: bold;
    font-size: 20px;
    opacity: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
/**------------TOOLBAR------------**/

.barritasR {
    position: flex;
    margin-left:10px;
    margin-top: 5px;
}

.barritasSpp {
    position: flex;
    margin-left: -53px;
    margin-bottom: 3px;
}
.barritasSpp2 {
    position: flex;
    margin-left: -49px;
    margin-bottom: 3px;
}
.barritasSpp3 {
    position: flex;
    margin-left: -51px;
    margin-bottom: 1px;
}
/** CONTENIDO DE LA IMG1**/
.ImagenGorraN1 {
    position: relative;
    top: 0px;
    left:0px;
    width: 670px;
    height: 740px;
}
.textoEncima {
    position: absolute;
    top: 20px;
    left: 65px;
}
.imgEncima {
    position: absolute;
    bottom: 50px;
    left: 150px;
    height: 80px;
    width: 80px;
    border: 5px solid #FFFFFF;
    border-radius: 20%;
}
.imgEncima2 {
    position: absolute;
    bottom: 50px;
    left: 250px;
    height: 80px;
    width: 80px;
}
.imgEncima3 {
    position: absolute;
    bottom: 50px;
    left: 350px;
    height: 80px;
    width: 80px;
}
.flechaIzq {
    position: absolute;
    top:25px;
    left: 30px;
}
.cora {
    position: absolute;
    top:22px;
    right: 20px;
    width: 20px;
    height: 20px;
}
/** CONTENIDO DE LA IMG1**/

/** CONTENIDO DE LA IMG2**/
.ImagenGorraN2 {
    position: absolute;
    top:789px;
    bottom: 0px;
    left: 670px;
    height: 740px;
    width: 670px;
}
.CuadroMN1{
    opacity: 0;
    visibility: hidden;
}
.SignoMN1-1:hover ~.CuadroMN1{
    opacity: 1;
    visibility:visible;
}
.SignoMN1-1:hover ~.circuloMN1{
transition: (1000 50 100 0);
box-shadow: 0px 0px 0px 6px #a3a7a452;

}
.SignoMN1-1:hover{
    opacity:1;
    visibility: visible;   
}


.RectMN1{
    position: absolute;
    top:925px;
    left: 988px;
    height: 65px;
    width: 160px;
    font-size: 11px;
    background-color: #F9F9F9;
    text-align: center;
    padding: 6px;
}
.circuloMN1{
    position: absolute;
    top:1025px;
    left: 1054px;
    height: 30px;
    width: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #a3a7a452;
}
.SignoMN1{
    position: absolute;
    top:1032px;
    left: 1061px;
    height: 16px;
    width: 16px;
    color: gray;
    opacity: 1;
    z-index: 1;

}
.SignoMN1-1{
    position: absolute;
    top: 1027.5px;
    left: 1057px;
    height: 25px;
    width: 25px;
    color: gray;
    opacity: 0; 
   visibility: transparent;
    z-index: 2;
}

.CuadroMN2{
    opacity: 0;
    visibility: hidden;
}
.SignoMN2-2:hover ~.CuadroMN2{
    opacity: 1;
    visibility:visible;
}
.SignoMN2-2:hover ~.circuloMN2{
transition: (1000 50 100 0);
box-shadow: 0px 0px 0px 6px #a3a7a452;

}
.SignoMN2-2:hover{
opacity:1;   
}
.RectMN2{
    position: absolute;
    top:1110px;
    left: 682px;
    height: 65px;
    width: 160px;
    font-size: 11px;
    background-color: #F9F9F9;
    text-align: center;
    padding: 6px;
}
.circuloMN2{
    position: absolute;
    top:1220px;
    left: 754px;
    height: 30px;
    width: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #a3a7a452;
}
.SignoMN2{
    position: absolute;
    top:1227px;
    left: 761px;
    height: 16px;
    width: 16px;
    color: gray;
    z-index: 1;
}
.SignoMN2-2{
    position: absolute;
    top: 1222.5px;
    left: 756.5px;
    height: 25px;
    width: 25px;
    color: gray;
    opacity: 0; 
    z-index: 2;
}

.CuadroMN3{
    opacity: 0;
    visibility: hidden;
}
.SignoMN3-3:hover ~.CuadroMN3{
    opacity: 1;
    visibility:visible;
}
.SignoMN3-3:hover ~.circuloMN3{
transition: (1000 50 100 0);
box-shadow: 0px 0px 0px 6px #a3a7a452;

}
.SignoMN3-3:hover{
opacity:1;   
}
.RectMN3{
    position: absolute;
    top:1087px;
    left: 875px;
    height: 65px;
    width: 160px;
    font-size: 11px;
    background-color: #F9F9F9;
    text-align: center;
    padding: 6px;
}
.circuloMN3{
    position: absolute;
    top:1183px;
    left: 944px;
    height: 30px;
    width: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #a3a7a452;
}
.SignoMN3{
    position: absolute;
    top:1190px;
    left: 951px;
    height: 16px;
    width: 16px;
    color: gray;
    z-index: 1;
}
.SignoMN3-3{
    position: absolute;
    top: 1185.5px;
    left: 946.5px;
    height: 25px;
    width: 25px;
    color: gray;
    opacity: 0; 
    z-index: 2;
}

.CuadroMN4{
    opacity: 0;
    visibility: hidden;
}
.SignoMN4-4:hover ~.CuadroMN4{
        opacity: 1;
        visibility:visible;
}
.SignoMN4-4:hover ~.circuloMN4{
    transition: (1000 50 100 0);
    box-shadow: 0px 0px 0px 6px #a3a7a452;

}
.SignoMN4-4:hover{
    opacity:1;   
}
.RectMN4{
    position: absolute;
    top:1127px;
    left: 1105px;
    height: 65px;
    width: 160px;
    font-size: 11px;
    background-color: #F9F9F9;
    text-align: center;
    padding: 6px;
}
.circuloMN4{
    position: absolute;
    top:1223px;
    left: 1160px;
    height: 30px;
    width: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #a3a7a452;
}
.SignoMN4{
    position: absolute;
    top:1230px;
    left: 1167px;
    height: 16px;
    width: 16px;
    color: gray;
    z-index: 1;

}
.SignoMN4-4{
    position: absolute;
    top: 1225.5px;
    left: 1163px;
    height: 25px;
    width: 25px;
    color: gray;
    opacity: 0; 
    z-index: 2;
}
/** CONTENIDO DE LA IMG2**/

/** CONTENIDO DE LA IMG3**/
.ImagenGorraN3 {
    position: absolute;
    top:789px;
    bottom: 0px;
    left: 40px;
    height: 740px;
    width: 630px;
}
.textImg3-0{
    vertical-align: middle;
    text-align: center;
    height: auto;
    width: 500px;
    position: absolute;
    top:350px;
    left:40px;
}
.textImg3-1{
    vertical-align: middle;
    text-align: center;
    height: auto;
    width: 500px;
    position: absolute;
    top:-80px;
    left:40px;
    font-size: 14px;
}
.textImg3-2{
    vertical-align: middle;
    text-align: center;
    height: auto;
    width: 300px;
    position: absolute;
    top:-40px;
    left:120px;
}
.textImg3-3{
    vertical-align: middle;
    text-align: center;
    height: 80px;
    width: 400px;
    position: absolute;
    top:90px;
    left:100px;
}
/** CONTENIDO DE LA IMG3**/


.rectR {
    width: 40px;
    height: 40px;
    border: 1px solid #3D43AC;
    border-radius: 10%;
    background-color: white;
    color:#3D43AC;
    text-align: center;
    line-height: 220%;
}

.rectR2 {
    width: 40px;
    height: 40px;
    border: 1px solid #3D43AC;
    border-radius: 10%;
    background-color: #3D43AC;
    color:white;
    text-align: center;
    line-height: 220%;

}




/**------------INFO DE LA IMG1------------**/
 .InfoGorra2 {
    position: relative;
    top:-720px;
    left: 735px;
    margin-right: 840px;
    height: 600px;
    color: #3D47A9;
    text-align: left;
 } 
 .medidas {
     position: absolute;
     top: 100px;
     right: 0px;
     left: 390px;
     bottom: 0px;
     height: 20px;
     
 }
 .circuloG {
    position: flex;
    margin-left: 18px;
    margin-top:-18px;
    margin-bottom: 5px;
    color:#434343;
    background-color: #F9F9F9;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}
.circuloGN {
    position: flex;
    margin-left: 18px;
    margin-top:-18px;
    margin-bottom: 5px;
    color:#F9F9F9;
    background-color: #000000;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}
/**------------INFO DE LA IMG1------------**/




.tabla{
    color: #434343;
    border: 1px solid #434343;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 10px;
    height: 30px;
    width: 300px;
}
.circuloP {
    color:white;
    background-color: #434343;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    margin-left:5px;
    margin-top: 5px;
}

.tabla1 {
    position: flex;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:20px;
    color:#434343;
    width:210px;
    
}
.tabla2 {
    position: flex;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:20px;
    color:#434343;
    width:75px;
}
.tabla3 {
    position: flex;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 210px;
    font-size:20px;
    color:#434343;
}
.signoMore {
    align-items: right;
    position: flex;
    margin-left:470px;
    margin-top:-122px;
}

/**BOTON DE COMPRA*/
.btnShop{    
    margin-top: 25px;
    cursor: pointer;
}
.btnShop:hover{
    filter: brightness(0.9);
    filter: opacity(.9);
}
#btn-modalShop{
    
    display: none;
}
.rectShop{
    position: absolute;
    width: 487;
    height: 43;
    top: 20px;
}
.modalShop{
    width: 487px;
    height: 42px;
    position: relative;
    top:-46px;
    right: 0px;
    border-radius: 6px;
    background: rgb(12, 201, 28);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;


}
#btn-modalShop:checked ~ .modalShop{
    opacity: 1;
    visibility: visible;
}
.contenedorShop{
    width: 487px;
    height: 45px;
    background-color:transparent;
    text-align: center;
    color: #ffffff;
    transition: all 500ms ease;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    top:13px;
    left: 0px;
    cursor: pointer;
}
/**BOTON DE COMPRA*/

/**COMPOSICION Y CUIDADO*/

.modal{
    width: 650px;
    height: 800px;
    display: flex;
    position: absolute;
    top:-99px;
    right: -85px;
    bottom:0;
    background: rgba(0,0,0,0.5px);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}

.contenedor{
    position: relative;
    top:100px;
    left: 45px;
    background-color: #ffffff;
    transition: all 500ms ease;
    width: 550px;
    height: 645px;
}

.contenedor header{
    padding: 10px;
    background-color:#FFFFFF;
    color:#3D43AC;
    text-align: left;
}

.contenedor label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 15px;
    cursor: pointer;
}

.lbl-modal{
    padding: 2px 1px;
    border-radius: 4px;
    cursor: pointer;
}
#btn-modal{
    display: none;
}
/**COMPOSICION Y CUIDADO*/
  
/**SIZE GUIDE*/

.modalG{
    width: 650px;
    height: 700px;
    display: flex;
    position: absolute;
    top:-150px;
    right: -80px;
    bottom:0;
    background: rgba(0,0,0,0.5px);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-modalG:checked ~ .modalG{
    opacity: 1;
    visibility: visible;
}

.contenedorG{
    position: relative;
    top:50px;
    left: 45px;
    width: 550px;
    height: 645px;
    background-color: #ffffff;
    transition: all 500ms ease;
}

.contenedorG header{
    padding: 10px;
    background-color: #FFFFFF;
    color:#3D43AC;
}

.contenedorG label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(172, 16, 16);
    font-size: 15px;
    cursor: pointer;
}

.lbl-modalG {
    padding: 2px 3px;
    margin-left:-32px;
    cursor: pointer;
}
#btn-modalG{
    display: none;
}
/**SIZE GUIDE*/


.corte{
    position: absolute;
    margin-left: -40px;
    left: 50px;
    top: 1560px;
    text-align: left;
    height: 60px;
    width:1000px;
    vertical-align: middle;
    padding: 5px;
}
/**-----------------------DESCRIPCION DE LAS IMAGENES DE MUJERES------------------------**/
.DescImgsF{
    position: relative;
    left: 45px;
    bottom: 0px;
    width: 1245px;
    height: 100px;
}
.MarcoImgsF{
    position: relative;
    bottom: -250px;
    
}
.Info1{
    height: 100px;
    width:300px;
    position: absolute;
    color: #434343;
}
.Info2{
    height: 100px;
    width:300px;
    position: absolute;
    left:315px;
    color: #434343;
}
.Info3{
    height: 100px;
    width:300px;
    position: absolute;
    right: 315px;
    color:#434343;
}
.Info4{
    height: 100px;
    width:300px;
    position: absolute;
    right:0px;
    color: #434343;
}
/**-----------------------DESCRIPCION DE LAS IMAGENES DE MUJERES------------------------**/

/**-----------------------FOOTER------------------------**/
.footer{
    position: relative;
    bottom:-300px;
    height: 300px;
}
.FooterContent1{
    width: 100px;
    height: 168px;
    position: relative;
    left: 150px;    
}
.FooterTitle1{
    position: absolute;
}
.FooterText1{
    width: 100px;
    color:#707070;
    font-size: 16px;
    position: absolute;
    top: 40px;
}
.FooterContent2{
    width: 170px;
    height: 168px;
    position: absolute;
    top:0px;
    left: 350px;    
}
.FooterTitle2{
    position: absolute;
}
.FooterText2{
    width: 170px;
    color:#707070;
    font-size: 16px;
    position: absolute;
    top: 40px;
}
.FooterContent3{
    width: 250px;
    height: 168px;
    position: absolute;
    top:0px;
    left: 600px;    
}
.FooterTitle3{
    position: absolute;
}
.FooterText3-1{
    width: 250px;
    color:#707070;
    font-size: 16px;
    position: absolute;
    top: 40px;
}
.FooterText3-2{
    width: 250px;
    color:#707070;
    font-size: 16px;
    position: absolute;
    top: 70px;
}
.FooterText3-3{
    width: 290px;
    color:#707070;
    font-size: 16px;
    position: absolute;
    top: 100px;
}

.RectNews{
    background-color: #F9F9F9;
    width: 420px;
    height: 168px;
    position: absolute;
    top:0px;
    right: 30px;
}
.NewsTitle{
    color: #3D43AC;
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    top:10px;
    left: 40px;
}
.NewsText{
    font-size: 15px;
    color: #707070;
    position: absolute;
    bottom: 70px;
    left: 40px;
}
.RectEmail{
    border: 2px solid gray;
    width: 350px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    bottom: 15px;
    left: 39px;
}
.RectEmail1{
    position: absolute;
    top:15px;
    left: 15px;
}
.RectEmail2{
    position: absolute;
    top:15px;
    right: 15px;
}
.RectEmail3{
    position: absolute;
    top:10px;
    left: 35px;
    color: #707070;
    font-size: 14px;
}

.SocialRed{
    width: 150px;
    height: 40px;
    position: absolute;
    bottom:45px;
    left:620px;
}
.Derechos{
    background-color:transparent;
    position: absolute;
    bottom: 15px;
    left: 37.5vw;
    font-size: 11px;
}
/**-----------------------FOOTER------------------------**/

/**-----------------------------------------------ACA ES VERSION PC---------------------------------------------------*/








































/**-----------------------------------------------ACA ES VERSION MOVIL---------------------------------------------------*/


.InfoGorraMov{
    width: 90vw;
    position: absolute;
    top:50px;
    margin-left:20px;
    margin-right:20px;
    z-index: -1;
}
.ContentMov{
    position: relative;
    top:-55px;
    height: 2665px;
    width: 100vw;
    background-color:#FFFFFF;
    box-shadow: 0px -10px 15px #0000000D;
    border-top-right-radius:60px;
    border-top-left-radius:60px;
    z-index: -2;
}

.ImagenGorraN1Mov{
    height: 100vw;
    width: 100vw;
    position: relative;
    z-index: -3;
}
.CircToolbarMov{
    background-color: #EBEBEB;
    height: 70px;
    width: 70px;
    position: fixed;
    border-radius: 100%;
    bottom: 30px;
    left: 43vw;
}
.ToolbarMov{
    height:82px;
    max-width: 100%;
    border-top-right-radius:55%;
    border-top-left-radius:55%;
    position: fixed;
    bottom: 0px;
    right:0px;
    left: 0px;
    background-color:#EBEBEB;
    z-index: 100;
}
.ToolbarMenu{
    height: 15px;
    position: fixed;
    bottom:25px;
    left: 12vw;
}
.ToolbarLupa{
    position: fixed;
    bottom:25px;
    left: 32vw;
}
.RectShopMov{
    position: fixed;
    bottom: 8px;
    left: 45.5vw;
}
.CircBtnShop{
    background-color:#3D43AC;
    height: 57px;
    width: 57px;
    position: fixed;
    border-radius: 100%;
    bottom: 34px;
    left: 44.5vw;
}
.ShopCarMov{
    position: fixed;
    bottom: 52px;
    left: 48.2vw; 
}
.TextShopMov{
    font-size: 12px;
    font-weight: 600;
    color:#3D43AC;
}
.ToolbarUser{
    position: fixed;
    bottom:25px;
    right: 32vw;
}
.ToolbarBag{
    position: fixed;
    bottom:25px;
    right: 0vw;
}

.RectGris{
    position: absolute;
    left: 45.5vw; 
    top:20px;
}
.circuloGMov{
    position: flex;
    margin-left: 18px;
    margin-top:-12px;
    margin-bottom: 5px;
    color:#434343;
    background-color: #F9F9F9;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}
.circuloGNMov{
    position: flex;
    margin-left: 18px;
    margin-top:-18px;
    margin-bottom: 5px;
    color:#F9F9F9;
    background-color: #000000;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}
/*************************************SIZE GUIDE MOVIL*********************************************************/
.medidasMov {
    position: absolute;
    top: 134px;
    right: 0px;
    left: 270px;
    bottom: 0px;
    height: 15px;
    background-color: #ffaaff;
    
}
.modalGMov{
    width: 100vw;
    height: 780px;
    display: flex;
    position: relative;
    top:0px;
    right:0px;
    bottom:0;
    background: rgba(0,0,0,0.5px);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    background-color: #ffaaff;

}
#btn-modalGMov:checked ~ .modalGMov{
    opacity: 1;
    visibility: visible;
}

.contenedorGMov{
    border:1px solid gold;
    position: relative;
    top:10px;
    left: 0px;
    width: 100vw;
    height: 780px;
    transition: all 500ms ease;
    background-color: #FFFFFF;
}

.contenedorGMov header{
    padding: 10px;
    background-color: #FFFFFF;
    color:#3D43AC;
}

.contenedorGMov label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(172, 16, 16);
    font-size: 15px;
    cursor: pointer;
}

.lbl-modalGMov{
    border:1px solid gold;
    background-color: #000000;
    padding: 2px 3px;
    margin-left:-32px;
}
#btn-modalGMov{
    display: none;

}
.tablaMov{
    color: #434343;
    border: 1px solid #434343;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 10px;
    height: 30px;
    width: 300px;
}
.circuloP {
    color:white;
    background-color: #434343;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    margin-left:5px;
    margin-top: 5px;
}
.signoMoreMov {
    align-items: right;
    position: flex;
    margin-left:370px;
    margin-top:-122px;
}
/*************************************SIZE GUIDE MOVIL*********************************************************/

/*************************************COMPOSICION Y CUIDADO*********************************************************/
.modalMov{
    width: 100vw;
    height: 800px;
    display: flex;
    position: relative;
    top:0px;
    bottom:0;
    background: rgba(0,0,0,0.5px);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
#btn-modalMov:checked ~ .modalMov{
    opacity: 1;
    visibility: visible;
}

.contenedorMov{
    position: relative;
    top:0px;
    left: 0px;
    background-color: #ffffff;
    transition: all 500ms ease;
    width: 100vw;
    height: 645px;
}

.contenedorMov header{
    padding: 10px;
    background-color:#FFFFFF;
    color:#3D43AC;
    text-align: left;
}

.contenedorMov label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 15px;
    cursor: pointer;
}

.lbl-modalMov{
    padding: 2px 1px;
    border-radius: 4px;
    cursor: pointer;
}
#btn-modalMov{
    display: none;
}
/*************************************COMPOSICION Y CUIDADO*********************************************************/


/*************************************IMAGEN N3*********************************************************/

.ImagenGorraN3Mov{
    position: relative;
    top:-2180px;
    left: 0px;
    height: 100vw;
    width: 100vw;
    z-index: -1;
}
.ImagenGorraN3Mov1{
    position: relative;
    top:0px;
    bottom: 0px;
    left: 0px;
    height: 100vw;
    width: 100vw;
    z-index: -2;  
}

.textImg3-1Mov{
    vertical-align: middle;
    text-align: center;
    height: auto;
    width: 500px;
    position: absolute;
    top:34vw;
    right:0vw;
    font-size: 15px;
}
.textImg3-2Mov{
    vertical-align: middle;
    text-align: center;
    height: auto;
    width: 300px;
    position: absolute;
    top:47vw;
    left:18vw;
}
/*************************************IMAGEN N3*********************************************************/

/*************************************IMAGEN N2*********************************************************/
.ImagenGorraN2Mov{
    position: relative;
    top:-2180px;
    left: 0px;
    height: 110vw;
    width: 100vw;
    z-index: -1;
}
.CuadroMN1Mov{
    opacity: 0;
    visibility: hidden;
}
.SignoMN1-1Mov:hover ~.CuadroMN1Mov{
    opacity: 1;
    visibility:visible;
}
.SignoMN1-1Mov:hover ~.circuloMN1Mov{
transition: (1000 50 100 0);
box-shadow: 0px 0px 0px 6px #a3a7a452;

}
.SignoMN1-1Mov:hover{
    opacity:1;
    visibility: visible;   
}


.RectMN1Mov{
    position: absolute;
    top:925px;
    left: 988px;
    height: 65px;
    width: 160px;
    font-size: 11px;
    background-color: #F9F9F9;
    text-align: center;
    padding: 6px;
}
.circuloMN1Mov{
    position: absolute;
    top:1025px;
    left: 0px;
    height: 30px;
    width: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #a3a7a452;
}
.SignoMN1Mov{
    position: absolute;
    top:1032px;
    left: 1061px;
    height: 16px;
    width: 16px;
    color: gray;
    opacity: 1;
    z-index: 1;

}
.SignoMN1-1Mov{
    position: absolute;
    top: 1027.5px;
    left: 1057px;
    height: 25px;
    width: 25px;
    color: gray;
    opacity: 0; 
   visibility: transparent;
    z-index: 2;
}

.CuadroMN2Mov{
    opacity: 1;
    visibility: visible;
}
.SignoMN2-2Mov:hover ~.CuadroMN2Mov{
    opacity: 1;
    visibility:visible;
}
.SignoMN2-2Mov:hover ~.circuloMN2Mov{
transition: (1000 50 100 0);
box-shadow: 0px 0px 0px 6px #a3a7a452;

}
.SignoMN2-2Mov:hover{
opacity:1;   
}
.RectMN2Mov{
    position: absolute;
    top:920px;
    left: 0px;
    height: 65px;
    width: 160px;
    font-size: 11px;
    background-color: #F9F9F9;
    text-align: center;
    padding: 6px;
}
.circuloMN2Mov{
    position: absolute;
    top:1015px;
    left: 100px;
    height: 30px;
    width: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #a3a7a452;
}
.SignoMN2Mov{
    position: absolute;
    top:1015px;
    left:105px;
    height: 16px;
    width: 16px;
    color: gray;
    z-index: 1;
}
.SignoMN2-2Mov{
    position: absolute;
    top: 1012.5px;
    left: 102.5px;
    height: 25px;
    width: 25px;
    color: gray;
    opacity: 0; 
    z-index: 2;
}

.CuadroMN3Mov{
    opacity: 0;
    visibility: hidden;
}
.SignoMN3-3Mov:hover ~.CuadroMN3Mov{
    opacity: 1;
    visibility:visible;
}
.SignoMN3-3Mov:hover ~.circuloMN3Mov{
transition: (1000 50 100 0);
box-shadow: 0px 0px 0px 6px #a3a7a452;

}
.SignoMN3-3Mov:hover{
opacity:1;   
}
.RectMN3Mov{
    position: absolute;
    top:1087px;
    left: 875px;
    height: 65px;
    width: 160px;
    font-size: 11px;
    background-color: #F9F9F9;
    text-align: center;
    padding: 6px;
}
.circuloMN3Mov{
    position: absolute;
    top:1183px;
    left: 944px;
    height: 30px;
    width: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #a3a7a452;
}
.SignoMN3Mov{
    position: absolute;
    top:1190px;
    left: 951px;
    height: 16px;
    width: 16px;
    color: gray;
    z-index: 1;
}
.SignoMN3-3Mov{
    position: absolute;
    top: 1185.5px;
    left: 946.5px;
    height: 25px;
    width: 25px;
    color: gray;
    opacity: 0; 
    z-index: 2;
}

.CuadroMN4Mov{
    opacity: 0;
    visibility: hidden;
}
.SignoMN4-4Mov:hover ~.CuadroMN4Mov{
        opacity: 1;
        visibility:visible;
}
.SignoMN4-4Mov:hover ~.circuloMN4Mov{
    transition: (1000 50 100 0);
    box-shadow: 0px 0px 0px 6px #a3a7a452;

}
.SignoMN4-4Mov:hover{
    opacity:1;   
}
.RectMN4Mov{
    position: absolute;
    top:1127px;
    left: 1105px;
    height: 65px;
    width: 160px;
    font-size: 11px;
    background-color: #F9F9F9;
    text-align: center;
    padding: 6px;
}
.circuloMN4Mov{
    position: absolute;
    top:1223px;
    left: 1160px;
    height: 30px;
    width: 30px;
    background-color: #F9F9F9;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #a3a7a452;
}
.SignoMN4Mov{
    position: absolute;
    top:1230px;
    left: 1167px;
    height: 16px;
    width: 16px;
    color: gray;
    z-index: 1;

}
.SignoMN4-4Mov{
    position: absolute;
    top: 1225.5px;
    left: 1163px;
    height: 25px;
    width: 25px;
    color: gray;
    opacity: 0; 
    z-index: 2;
}
/*************************************IMAGEN N2*********************************************************/
.corteMov{
    position: relative;
    margin-left: 0px;
    left: 0px;
    top: -2185px;
    text-align: center;
    height: 60px;
    width:100vw;
    vertical-align: middle;
    padding: 5px;
    z-index: -1;
}
/*************************************IMAGENES MUJERES*********************************************************/
.AmbasImgMov{
    position: relative;
    top:-2185px;
    width: 100vw;
    height: 90vw;
    z-index: -1;
}
.Ft01Mov{
    margin-left:10px;
    width: 46vw;
}
.Ft02Mov{
    margin-left:10px;
    width: 46vw;
}
.DescImgsFMov{
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 95vw;
    height: 100px;
}
.barritasRMovS{
    position: flex;
    margin-left:25px;
    margin-top: 5px;
}
.barritasRMov{
    position: flex;
    margin-left:0px;
    margin-top: 5px;
}
.barritasRMov2{
    position: flex;
    margin-left:15px;
    margin-top: 5px;
}
.Info1Mov{
    height: 100px;
    width:300px;
    position: absolute;
    color: #434343;
}
.Info2Mov{
    height: 100px;
    width:300px;
    position: absolute;
    left:245px;
    color: #434343;
}

/*************************************IMAGENES MUJERES*********************************************************/
.corte2Mov{
    position: relative;
    height: 60px;
    width:100vw;
    top:-2185px;
}
/*************************************FOOTER MOVIL*********************************************************/
.FooterCuadroMov{
    position: relative;
    top:-2185px;
    width: 100vw;
    height:90vh;
    z-index: -1;
}
.FooterCuadroInterno{
    background-color: transparent;
    position: absolute;
    top:0px;
    left: 10px;
    width: 95vw;
    height: 80vh;
    z-index: 1;
}
.TextFooter1{
    position: absolute;
    top: 10px;
    height: 35px;
}
.LineaFooter1{
    position: absolute;
    top: 50px;
    width: 95vw;
}
.TextFooter2{
    position: absolute;
    top: 60px;
    height: 35px;
}
.LineaFooter2{
    position: absolute;
    top: 110px;
    width: 95vw;
}
.TextFooter3{
    position: absolute;
    top: 120px;
    height: 35px;
}
.FlecaAbajoMov1{
    position: absolute;
    right: 0px;
    top: 27px;
}
.FlecaAbajoMov2{
    position: absolute;
    right: 0px;
    top: 77px;
}
.FlecaAbajoMov3{
    position: absolute;
    right: 0px;
    top: 137px;
}
.RectNewsMov{
    position: absolute;
    top: 180px;
    background-color: #F9F9F9;
    width: 95vw;
    height: 28vh;
    border-radius: 8px;
}
.NewsTitleMov{
    color: #3D43AC;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top:3vh;
    left: 5vw;
}
.NewsTextMov{
    font-size: 16px;
    color: #707070;
    position: absolute;
    bottom: 16vh;
    left: 5vw;
}
.RectEmailMov{
    border: 2px solid gray;
    width: 85vw;
    height: 8vh;
    background-color: transparent;
    position: absolute;
    bottom: 6vh;
    left: 5vw;
}
.RectEmail1Mov{
    position: absolute;
    top:2.5vh;
    left: 4vw;
}
.RectEmail2Mov{
    position: absolute;
    top:2.5vh;
    right: 4vw;
}
.RectEmail3Mov{
    position: absolute;
    top:1.7vh;
    left: 8vw;
    color: #707070;
    font-size: 14px;
}   

.LineaFooter3{
    position: absolute;
    bottom: 28vh;
    width: 100vw;
}
.RedesSocialesMov{
    position: absolute;
    bottom: 20vh;
    left: 37vw;
}
.LineaFooter4{
    position: absolute;
    bottom: 17vh;
    width: 100vw;
}
.DerechosMov{
    position: absolute;
    bottom: 7vh;
    width: 100vw;
    font-size: 11px;
    text-align: center;
}
/*************************************FOOTER MOVIL*********************************************************/

/**-----------------------------------------------ACA ES VERSION MOVIL---------------------------------------------------*/